@import '../../styles/variables';

.card__tag {
  line-height: 1.2em;
  margin: 0 0 4px;
  border: none;
  border-radius: 5px;
  position: relative;
  max-width: 96%;
  margin: 0 5px 5px 0;
  background-color: $light-grey;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all .15s ease-in-out;

  &:hover {
    cursor: pointer;
    background: rgba($black, 0.7);

    a {
      color: $white;
    }
  }

  a {
    padding: 0 10px;
    line-height: 21px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: $black;
    font-weight: 400;
  }
}
