/* Breakpoints */
$small-screen-min-width: 412px;   // Google pixel onwards
$medium-screen-min-width: 769px;

/* Colours */
$white: #fff;
$grey: #8e8e8e;
$light-grey: #dbdbdb;
$very-light-grey: #fafafa;
$black: #212124;

/* Dimensions */
$avatar-width: 32px;
$avatar-height: 32px;
$card-max-width: 280px;