@import '../../styles/breakpoints';
@import '../../styles/variables';

.header {
  height: $header-height;
  background-color: $black;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.header__search {
  position: absolute;
  right: 8px;
  top: 8px;

  @include small {
    right: 26px;
  }

  input {
    font-size: 16px;
    color: $black;
    line-height: 32px;
    height: 32px;
    padding: 4px 38px 4px 8px;
    border: 0;
    border-radius: 3px;
    width: 200px;
    &:focus {
      outline: none;    // bad boy... for the purpose of the excercise we will disable this
    }
  }
  &::after {
    content: ' ';
    display: block;
    width: 10px;
    height: 32px;
    position: absolute;
    right: 38px;
    top: 4px;
    background-image: linear-gradient(to right, rgba($white, 0.1), $white);
  }
  .header__icon {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 8px;
    top: 4px;
    vertical-align: middle;
    svg {
      fill: $grey;
    }
  }
}

.header__typeahead {
  background: $grey;
  width: 246px;
  position: absolute;
  top: 38px;
  border-top: 2px solid $white;
  left: 0;
  // this below is not ideal, shoudl be refactored to self contained
  .card__box {
    max-height: 100%;
    box-shadow: none;
    margin: 0;
    display: block;
    max-height: 1200px;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
}
