@import '../../styles/breakpoints';
@import '../../styles/variables';

.card__author {
  .link {
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}