@import '../../styles/breakpoints';
@import '../../styles/variables';

.card {
  border-radius: 3px;
  border: 1px solid $light-grey;  
  &__image {
  }
  &__content {
  }
  &__title {
  }
  &__description {
  }
  &__tags {
  }
  &__author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}